@import "bourbon";
@import "base/base";
@import "neat";

@import 'modules/header';

body {
  margin: 0;
}

.container {
  @include outer-container();
}

.meal-card {
  img {
    max-width: 100px;
    border: 1px solid lightGray;
    padding: 1em;
  }
}
