.meal-list {
  padding: 0;

  .meal-card {
    @include span-columns(3);
    height: 325px;
    border: 1px solid lightGray;
    border-radius: 5px;
    display: inline-block;

    img {
      object-fit: cover;
      height: 200px;
      width: 100%;
      border-bottom: 1px solid lightGray;
    }

    .meal-name {
      margin-left: 1em;
    }
  }
}
