<div class="meal">
  <h1>{{model.name}}</h1>
  <img src={{model.image}} class="meal-image">

  <hr>

  <h2>Ingredients:</h2>
  {{#paper-button primary=true noink="true"}}New Ingredient{{/paper-button}}

  {{#each model.ingredients as |ingredient|}}
    <p>{{ingredient.name}}</p>
  {{/each}}
</div>
