<div class="header">
  <h1 class="logo">
    <span class="recip">Recip</span><span class="me">Me</span>
  </h1>

  <ul class="header-links">
    <li>Meals</li>
    <li>Week</li>
    <li>Grocery List</li>
  </ul>
</div>
