<div class="header">
  {{#link-to 'index' tagName="h1" class="header-link logo"}}
    <span class="recip">Recip</span><span class="me">Me</span>
  {{/link-to}}

  <ul class="header-links">
    {{#link-to 'meals' tagName="li" class="header-link"}}Meals{{/link-to}}
    <li>Week</li>
    <li>Grocery List</li>
  </ul>
</div>
